.gallery-container {
  padding-top: 0.9375rem;
}

.gallery-card {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.gallery-thumbnail {
  max-width: 100%;
  min-height: 200px;
  max-height: 600px;
  border-radius: 5px;
}

.card-icon-open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
}

.card-icon-open:focus,
.card-icon-open:hover {
  color: #111;
}

.gallery-thumbnail:hover,
.card-icon-open {
  opacity: 1;
}

.img-size {
  /* 	padding: 0;
        margin: 0; */
  height: 450px;
  width: 700px;
  background-size: cover;
  overflow: hidden;
}
.modal-content {
  width: 700px;
  border: none;
}
.modal-body {
  padding: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  width: 30px;
  height: 48px;
}
